@font-face {
    font-family: "DejaVu Sans Mono";
    src: url(fonts/DejaVu\ Sans\ Mono/DejaVuSansMono.ttf);

}

body {
    font-size: 2em;
    font-family: "DejaVu Sans Mono", monospace;
    color: #ffffff;
    background-color: #136b78;
    margin: 0;
    --bar-color: darkslategray;
    --sorted-color: limegreen;
    --selected-color: orange;
}

h1 {
    text-align: center;
}

div#graphs-container {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    height: fit-content;
    padding: 0 2.5vw 2.5vw 2.5vw; /* handles spacing on all sides of the graphs except the top */
    justify-content: space-around;
}

div.graph {
    display: flex;
    flex-direction: row;
    background-color: gray;
    aspect-ratio: 1 / 1;
    width: 30%; /* default is 3 graphs per row */
    margin: 2.5vw 0 0 0; /* handles the top spacing on the graphs, seperate so that there is vertical spacing in flex */
}

div.bar {
    margin-top: auto;
    background-color: var(--bar-color);
}

div.bar.sorted {
    background-color: var(--sorted-color);
}

div.bar.selected {
    background-color: var(--selected-color);
}

/* mid-small screens will have 2 graphs per row */
@media (max-width: 1200px) {
    div.graph {
        width: 45%;
    }
}

/* small screens will have 1 graph per row */
@media (max-width: 600px) {
    div.graph {
        width: 90%;
    }
}